<div class="row">
  <h3 class="mb-4"><%= @producer.name %>さんの会員情報</h3>
</div>
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4">
    <p class="font-weight-bold">会員ID</p>
    <p class="font-weight-bold">氏名</p>
    <p class="font-weight-bold">郵便番号</p> 
    <p class="font-weight-bold">住所</p>
    <p class="font-weight-bold">電話番号</p>
    <p class="font-weight-bold">メールアドレス</p>
    <p class="font-weight-bold">会員ステータス</p>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <p><%= @producer.id %></p>
    <p><%= @producer.name %></p>
    <p><%= @producer.postal_code %></p>
    <p><%= @producer.address %></p>
    <p><%= @producer.telephone_number %></p>
    <p><%= @producer.email %></p>
    <p><% if @producer.is_active == true %>
      　　    有効
      　　<% else %>
      　　    退会済み
      　　<% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="mt-3 ml-3">
    <%= link_to "編集", edit_admins_producer_path(@producer), class: "btn btn-success" %>
    <%= link_to "注文履歴一覧を見る", admins_producers_path, class: "btn btn-primary" %>
  </div>
</div>