<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body">
        <h2 class="d-flex justify-content-center">Consumer</h2>
        <h2 class="d-flex justify-content-center">Sign up</h2>
        
        <%= form_with model: @consumer, url: consumer_registration_path do |f| %>
          <%= render "consumers/shared/error_messages", resource: resource %>
          
          <div class="mb-1">
            <label>名前</label>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "姓", class: "form-control" %>
          </div>
          
          <div class="mb-2">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "名", class: "form-control" %>
          </div>
        
          <div class="mb-2">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        
          <div class="mb-2">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
        
          <div class="mb-4">
            <%= f.label :password_confirmation, "パスワード確認用" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        
          <div class="mb-4">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        
        <%= render "consumers/shared/links" %>
      </div>
    </div>
  </div>
</div>