<h1 class="mb-3">投稿一覧</h1>
<div class="row">
  <div class="col-md-6 mb-3">
    <%= form_with url: admins_posts_path, method: :get do |f| %>
    <div class="row">
      <div class="col-md-9">
        <%= f.search_field :keyword, value: params[:keyword], placeholder: "--キーワードで検索--", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.submit "検索", class: "btn btn-outline-secondary btn-block" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<table class="table table-hover table-inverse">
  <thead>
    <tr style="background-color: #f5f5f5">
      <th></th>
      <th>画像</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>商品名</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.producer.get_profile_image(80,80), size: "80x80" %></td>
      <td><%= image_tag post.get_image(80, 80), size: "80x80" %></td>
      <td><%= link_to post.title, admins_post_path(post.id) %></td>
      <td><%= post.body.truncate(20) %></td>
      <td><%= post.item.name %></td>
      <td><%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %></td>
    </tr>
    <% end %>
