<h1>商品詳細</h1>
  <div class="row">
    <div class="col-md-5">
      <p><%= image_tag @item.get_image(400,300), size: "400x300" %></p>
    </div>


    <div class="col-md-6">
      <div class="row mt-2">

        <div class="col-md-7">
          <%= image_tag @item.producer.get_profile_image(100,100), size: "100x100" %>

          <%= link_to @item.producer.name, admins_producer_path(@producer.id) %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
          <p class="font-weight-bold">商品名</p>
        </div>
        <div class="col-md-7">
          <%= @item.name %>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-3">
          <p class="font-weight-bold">ジャンル</p>
        </div>
        <div class="col-md-7">
          <%= @item.genre.name %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <p class="font-weight-bold">商品説明文</p></p>
        </div>
        <div class="col-md-7">
          <%= @item.introduction %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <p class="font-weight-bold">商品価格(税抜)</p></p>
        </div>
        <div class="col-md-7">
          <%= @item.price %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        <% if @item.stock > 0  %>
          <h5 class="bg-info text-white text-center">In stock(<%= @item.stock %>)</h5>
        <% else %>
          <h5 class="bg-danger text-white text-center">Out of stock</h5>
        <% end %>
        </div>
      </div>
      <div class="row">
      <p><%= link_to "編集", edit_admins_item_path(@item.id), class: "btn btn-success mt-3" %>
       <%= link_to "商品一覧へ戻る", admins_items_path, class: "btn btn-outline-secondary mt-3" %></p>
      </div>
    </div>
  </div>