<h1>商品詳細</h1>
  <div class="row">
    <p><%= image_tag @item.get_image(300,200), size: "300x200" %></p>
  </div>
  <div class="row">
    <table>
      <tr>
      <th class="col-lg-5">商品名</th>
      <td class="col-lg-6 offset-lg-1"><%= @item.name %></td>
      </tr>
      <tr>
      <th class="col-lg-5">商品説明文</th>
      <td class="col-lg-6 offset-lg-1"><%= @item.introduction %></td>
    </tr>
    <tr>
      <th class="col-lg-5">商品価格(税抜)</th>
      <td class="col-lg-6 offset-lg-1"><%= @item.price %></td>
    </tr>
    </table>
  </div>
    <% if @item.stock > 0  %>
      <span class="badge bg-info text-white mx-3 my-3">In stock(<%= @item.stock %>)</span>
    <% else %>
      <span class="badge bg-danger text-white">Out of stock</span>
    <% end %>
    <p><%= link_to 'Edit', edit_admins_item_path(@item.id), class: "btn btn-sm btn-success" %>