<div class="row my-5">
  <h1>米農家と消費者を繋ぐサイト</h1>
</div>
<div class="row my-5">
  <div class="col-lg-6">
  <h4>生産者ログイン</h4>
  <%= link_to "Sign up", new_producer_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log in", new_producer_session_path, class: "btn btn-primary" %>
  </div>
  <div class="col-lg-6">
  <h4>消費者ログイン</h4>
  <%= link_to "Sign up", new_consumer_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log in", new_consumer_session_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="mt-7">
  <h4>管理者用ログイン</h4>
  <%= link_to "Log in", new_admin_session_path, class: "btn btn-secondary" %>
  </div>
</div>