<div class="row">
  <div class="col-md-6">
    <h2 class="mt-2 mb-4">配送先登録</h2>
      <%= render 'address_form', address: @address %>
  </div>

  <div class="col-md-6">
    <h2 class="mt-2 mb-4">配送先一覧</h2>
      <table class="table table-borderd">
        <thead>
          <tr class="table-secondary">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集", edit_address_path(address.id), class: "btn btn-success" %>
              <%= link_to "削除", addresses_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>

