<%= form_with model: item do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>商品名</h4>
  <%= f.text_field :name, class: "form-control" %>
  
  <h4>商品説明文</h4>
  <%= f.text_area :introduction, class: "form-control" %>
  
  <h4>商品価格</h4>
  <%= f.text_field :price, class: "form-control" %>
  
  <h4>在庫数</h4>
  <%= f.text_field :stock, class: "form-control" %>
  
  <%= f.submit submit, class: "btn btn-primary btn-sm" %>
<% end %>