<div class="d-flex flex-wrap">
  <% posts.each do |post| %>
  <div class="col-md-4">
    <div class="card mb-3 px-4 py-4">
      <div class="card-image">
        <%= link_to producer_path(post.producer.id) do %>
          <%= image_tag post.get_image(300, 200), size: "300x200" %>
        <% end %>
      </div>
      <div class="card-profile">
        <%= image_tag post.producer.get_profile_image(80,80), size: "80x80" %>
        <%= link_to post.producer.name, producer_path(post.producer.id) %>
      </div>
      
      <%= link_to post.title, post_path(post.id) %>
      <%= post.body.truncate(20) %></br>
      <%= post.item.name %>
      <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
    </div>
  </div>
  <% end %>
</div>



