<h1 class="mb-4">注文履歴一覧</h1>
<%= form_with url: admins_orders_path, method: :get do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.search_field :keyword, value: params[:keyword], placeholder: "-- 名前またはIDで検索 --", class: "form-control" %>
    </div>
    <div class="col-md-2 mb-2">
      <%= f.submit "検索", class: "btn btn-outline-secondary btn-block mb-3" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr style="background-color: #f5f5f5">
      <th>注文日時</th>
      <th>消費者ID</th>
      <th>消費者(購入者)</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
      <th>発送ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y/%m/%d'), admins_order_path(order.id) %></td>
      <td><%= order.consumer.id %></td>
      <td><%= order.consumer.name %></td>
      <td><% amount = 0 %>
          <% order.order_details.each do |order_detail| %>
            <% amount += order_detail.amount %>
          <% end %>
          <%= amount %>
      </td>
      <td><%= order.status %></td>
      <td>
        <% if order.order_details.where.not(status: "発送済み").any? %>
          <span style="color:red;">未発送あり</span>
        <% else %>
          <span>発送済み</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

