<h1>商品詳細</h1>
<div>
  <p><%= image_tag @item.get_image(100,100) %></p>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p><%= @item.price %></p>
  <p><%= @item.stock %></p>
    <% if @item.producer == current_producer %>
    <%= link_to 'Edit', edit_item_path(@item.id), class: "btn btn-sm btn-success" %>
    <%= link_to 'Destroy', item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
    <% end %>
</div>